name: my-golang-sample

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      mysql:
        condition: service_healthy
      postgres:
        condition: service_healthy
    environment:
      APP_PORT: "8090"
      MYSQL_DSN: "user:pass@tcp(mysql:3306)/appdb?parseTime=true"
      PG_DSN: "postgres://user:pass@postgres:5432/appdb?sslmode=disable"
    ports:
      - "8090:8090"
    restart: unless-stopped

  mysql:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "13306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 20
    restart: unless-stopped

  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: root
    ports:
      - "15432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 20
    restart: unless-stopped

  mailpit:
    image: axllent/mailpit:latest
    ports:
     - "2025:1025"   # đổi cổng ngoài host -> 2025
     - "8825:8025"  # Web UI trên host -> 8825
    restart: unless-stopped

volumes:
  mysql_data:
  pg_data:
